#!/bin/sh
#################################################################
# (C) 2017, Inofix GmbH, Michael Lustenberger - see /LICENSE
#################################################################
# This is a wrapper script to limit ssh connections to use
# only a subset of the features of acme-control.sh
#################################################################

# consider 3 parts, use the last 2
args="${SSH_ORIGINAL_COMMAND#* }"
# consider the first part to be a command
action="${args%% *}"
# consider the last part to be the argument
domain="${args##* }"
# (ignoring any pot. middle of the string)

# control what the ssh user can do
case "$command" in
    get_cert*)
        {{ acme__bin_dir }}/acme-control.sh $command $domain
    ;;
    *)
        echo "usage: this wrapper script is thought to be used"
        echo "on ssh-connections to restrict access to acme-control.sh"
        echo "please log in as the acme user providing a supported action"
        echo "and an existing certificate domain name."
        exit 1
    ;;
esac

