#!/bin/sh
#################################################################
# (C) 2017, Inofix GmbH, Michael Lustenberger - see /LICENSE
#################################################################
# This scripts bundles the features around the use of ACME
# (Let's Encrypt) on this host.
#################################################################

# the first argument is a subcommand / action
subcommand="$1"
# the second argument denodes the domain in question
certname="$2"

case "$1" in
    get_certificate)
        if [ -r "{{ app__acme__config_dir }}/$2/$2.crt" ] ; then
            cat "{{ app__acme__config_dir }}/$2/$2.crt" || exit 1
        fi
    ;;
    get_certificate_chain)
        if [ -r "{{ app__acme__config_dir }}/$2/$2_chain.crt" ] ; then
            cat "{{ app__acme__config_dir }}/$2/$2_chain.crt" || exit 1
        fi
    ;;
    renew)
        if [ -x "{{ acme__tiny__scripts_dir }}/acme-renew_$2.sh" ] ; then
            echo "Renewing $2..."
            {{ acme__tiny__scripts_dir }}/acme-renew_$2.sh || exit 1
            echo "done"
        fi
    ;;
esac

