#!/bin/sh
#################################################################
# (C) 2017, Inofix GmbH, Michael Lustenberger - see /LICENSE
#################################################################
# This scripts bundles the features around the use of ACME
# (Let's Encrypt) on this host.
#################################################################

# the first argument is a subcommand / action
subcommand="$1"
# the second argument denodes the domain in question
certname="$2"

case "$1" in
    get_certificate)
        if [ -r "{{ app__acme__config_dir }}/$certname/$certname.crt" ] ; then
            cat "{{ app__acme__config_dir }}/$certname/$certname.crt" || exit 1
        fi
    ;;
    get_certificate_chain)
        if [ -r "{{ app__acme__config_dir }}/$certname/$certname_chain.crt" ] ; then
            cat "{{ app__acme__config_dir }}/$certname/$certname_chain.crt" || exit 1
        fi
    ;;
    get_ca)
        cat "{{ app__acme__config_dir }}/$certname" || exit 1
    ;;
    renew)
        if [ -x "{{ acme__scripts_dir }}/acme-renew_$certname.sh" ] ; then
            echo "Renewing $certname..."
            {{ acme__scripts_dir }}/acme-renew_$certname.sh || exit 1
            echo "done"
        fi
    ;;
esac

