#!/bin/sh

# only expect tools in this location..
export PATH="/bin:/usr/bin:/usr/local/bin/"

# report the execution date
date=$(date -u +'%Y-%m-%d %H:%M:%S')

# create a file to compare the certs to (one month ago)
lastmonth=/tmp/$(basename $0)
touch -d "last month" $lastmonth

# find registered services here
service_d="{{ acme__service_dir }}"
if [ ! -d "$service_d" ] ; then
    echo "$date Error restarting services - no service dir: '$service_d'."
    exit 0
fi

# see whether any certificate was created during the last month
new=$(find "{{ app__acme__tiny__config_dir }}" -newer $lastmonth -name "*.crt")

# if any new cert was found, service the registered services
if [ -n "$new" ] ; then

    echo "$date Restarting services.."

    for s in "$service_d/*" ; do
        . $s
    done
fi

